<div class="col-xs-8">
    <br>
    <div class="jumbotron">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody id='table'>
                <tr ng-repeat="deck in controller.decks">
                    <td><a ui-sref="details({id:deck.id})">{{deck.name}}</a></td>
                    <td><a ui-sref="details({id:deck.id})">{{deck.class}}</a></td>
                    <td><button class="btn btn-danger" ng-click="controller.deleteDeck(deck.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>